sudo: false
git:
  depth: 2
branches:
  except:
    - /^v\d/
language: node_js
node_js:
  - iojs
  - node
notifications:
  email: false
script:
  - npm run-script coverage
after_script:
  - npm run-script coveralls
